.container {
  width: auto;
}

//** Search Box **//

.form-control {
  height: 40px;
  font-size: 18px;
  font-weight:normal;
}

.search-btn {
  height:40px;
}

//** Masonry Layout **//

.main-container {
  column-count: 3;
  column-gap: 1em;
}

.bento-box {
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 3px;
  a {
    display:block;
    text-decoration:none;
    &:visited {
      color: #666;
    }
  }
}

.bento-box-header {
  padding: 18px;
  color: #fff;
  a {
    color: #fff;
    &:visited {
      color: #fff;
    }
  }
  h3 {
    margin:0;
    padding:0;
  }
}

.no-search {
  background-color: #fff;
  padding: 10px 12px;
}

.no-results {
  background-color: #fff;
  padding: 10px 12px;
}

.item {
  background-color: #fff;
  padding: 10px 12px;
  border-bottom: 1px solid #ddd;
  display: block;
  &:hover {
    background-color: #efefef;
    color:#222;
    text-decoration: none;
  }
}

.itemTitle {
  font-size: 1.2em;
  line-height: 1.2em;
  margin-bottom: 5px;
}

.more-results {
  font-size: 1.2em;
  padding: 10px 8px;
  background-color: #4A484C;
  a {
    color: #fff;
    display:block;
    text-decoration:none;
    &:visited {
      color: #fff;
    }
  }
}

//**Responsive Layouts**//

/* Larger than mobile */
@media (min-width: 0px) {
  .container {
    padding: 0;
    margin:20px;
  }
  .main-container {
      -moz-column-count: 1;
      -webkit-column-count: 1;
      column-count: 1;
  }
  .submit-search-text {
    position: relative;
  }

}

/* Larger than phablet */
@media (min-width: 550px) {
  .main-container {
      -moz-column-count: 2;
      -webkit-column-count: 2;
      column-count: 2;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {

  .input-group /* search box */{
    margin:0 80px 25px 80px;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .input-group /* search box */{
    margin:0 250px 25px 250px;
  }
  .main-container {
      -moz-column-count: 3;
      -webkit-column-count: 3;
      column-count: 3;
      margin: 0 40px;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
