//** Header colors **//

#catalyst-bento {
  background-color: #74AA50;
}
#eds-bento {
  background-color: #470A68;
}
#scopus-bento {
  background-color: #470A68;
}
#archivesspace-bento {
  background-color: #003D4C;
}
#lara-bento {
  background-color: #005EB8;
}
#lib_answers-bento {
  background-color: #8E3A80;
}
#lib_guides-bento {
  background-color: #74AA50;
}
#findit-bento {
  background-color: #898281;
}
#pubmed-bento {
  background-color: #003D4C;
}
